<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <a href="./rooms/">rooms</a>
</div>

<div>
        <a href="./rooms/new">new topic</a>
</div>

<div>
        <a href="./users/">users</a>
</div>

<div>
        <a href="./users/new">new users</a>
</div>

<form action="/checkName" method="post">
    <label for="check-name">Check Name</label>
    <input type="text" name="checkName" class="form-control" id="check-name">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>